/SysSeguridadG04.AccesoADatos/build/
/SysSeguridadG04.EntidadesDeNegocio/build/
/SysSeguridadG04.EntidadesDeNegocio/dist/
/SysSeguridadG04.AccesoADatos/dist/
/SysSeguridadG04.AppDesktop/build/
/SysSeguridadG04.AppDesktop/dist/
/SysSeguridadG04.AppWeb/dist/
